*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


#navlist{
    list-style: none;
    font-size: 25px;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-left: 15px;
    margin-right: 15px;
}
#a{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.nav{
    width: 100vw;
    background-image: linear-gradient(red,yellow);   
    max-height: 120px;
}
.container{
    height: 100vh;
    width: 100vw;
    overflow-x: none;
    display: flex;
    flex-direction: column;
    background-image: url(background.jpg);
    height: 100%;
    
    
    
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 70px;
    display: flex;
    justify-content: center;
}
.foot{
    background-image: linear-gradient(pink,green);
    width: 100vw;
    display: flex;
    height: 200px;
    justify-content: space-around ;
}
#p1{
    font-size: 30px;
}
.content{
    width: 50%;
    border: 5px solid black;
    margin: auto;
    border: 1px solid black;
    background-image: linear-gradient(red,green);
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.item1{
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.rightbox img{
    border: 3px solid black;
    border-radius: 10px;
   transition-property: all;
   transition-duration: 0.5s;
   transition-delay: 0s;
   transition-timing-function: linear;

    
}
.rightbox :hover{
    transform: scale(0.6);

}
.leftbox{
   display: flex ;
   flex-direction: column;
   justify-content: center;
   align-items:baseline;
    box-sizing: border-box;
   flex-direction: column;
   
   
}
.leftbox h2{
    font-size: 2rem;
}
ul{
    list-style: none;
}
.rightbox{
    position: relative;
    
    
}
.rightbox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(23, 3, 3, 0.296);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s linear 0s;
}
.rightbox .overlay span{
    color: white;
    font-size: 1.2rem;
}
.rightbox:hover .overlay{
    opacity: 1;
}
